* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000000;
}

.container {
    position: relative;
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .icon {
    width: 200px;
}

.container .icon path {
    fill: transparent;
    stroke: #00d39b;
}

.container .icon.virus path {
    stroke-width: 4;
}

.container .icon.distance path {
    stroke-width: 10;
}

.container .icon.mask path {
    stroke-width: 10;
}

.container .icon.virus path {
    stroke-dasharray: 1500;
    stroke-dashoffset: 0;
}

.container .icon.virus:hover path {
    animation: animate-virus 2s linear forwards
}

@keyframes animate-virus {
    0%
    {
        stroke-dashoffset: 0;
    }
    40%
    {
        stroke-dashoffset: 1500;
    }
    80%
    {
        stroke-dashoffset: 3000;
        fill: transparent;
    }
    100%
    {
        stroke-dashoffset: 3000;
        fill: #00d39b;
    }
}